<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Action</h5>
    </div>
    <div class="modal-body">
        <h4>Update Car with ID {{car()?.id}}</h4>
        <form class="car-update-modal-content-form">
            <div>
                <label for="model">Model:</label>
                <input [(ngModel)]="formData.model" name="model" type="text" class="form-control" placeholder="Model" />
            </div>
            <div>
                <label for="color">Color:</label>
                <input [(colorPicker)]="formData.color" cpOutputFormat="hex" [style.background]="formData.color" name="color" class="form-control" />
            </div>
            <div>
                <label for="price">Price:</label>
                <input [(ngModel)]="formData.price" name="price" type="number" class="form-control"
                    placeholder="Price" />
            </div>
            <div>
                <label for="plateNumber">Plate number:</label>
                <input [(ngModel)]="formData.plateNumber" name="plateNumber" type="text" class="form-control"
                    placeholder="Plate number" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="handleCancelClick()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="handleConfirmClick()">Confirm</button>
    </div>
</div>