<form class="signup-form" (submit)="handleSubmit()">
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">
            <span class="material-icons">badge</span>
        </span>
        <input [(ngModel)]="formData.firstName" name="firstName" type="text" class="form-control"
            placeholder="First name" />
    </div>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">
            <span class="material-icons">badge</span>
        </span>
        <input [(ngModel)]="formData.lastName" name="lastName" type="text" class="form-control"
            placeholder="Last name" />
    </div>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">
            <span class="material-icons">mail</span>
        </span>
        <input [(ngModel)]="formData.email" name="email" type="email" class="form-control" placeholder="Email" />
    </div>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">
            <span class="material-icons">key</span>
        </span>
        <input [(ngModel)]="formData.password" name="password" type="password" class="form-control"
            placeholder="Password" />
    </div>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">
            <span class="material-icons">key</span>
        </span>
        <input [(ngModel)]="formData.confirmedPassword" name="confirmedPassword" type="password" class="form-control"
            placeholder="Confirmed password" />
    </div>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">
            <span class="material-icons">calendar_month</span>
        </span>
        <input [(ngModel)]="birthdate" name="birthdate" type="text" class="form-control" placeholder="Birthdate"
            ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
    </div>
    <button class="signup-button btn btn-primary" type="submit">Sign Up</button>
    <div class="signup-go-login" (click)="handleGoLoginClicked()">Go Login</div>
</form>