<table class="user-read-table table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Birthdate</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (item of items(); track item) {
        <tr>
            <th scope="row">{{item.id}}</th>
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.email}}</td>
            <td>{{item.birthdate}}</td>
            <td class="user-read-actions">
                <span class="user-read-command-button material-icons" (click)="handleEditClick(item)">edit</span>|
                <span class="user-read-command-button material-icons" (click)="handleDeleteClick(item.id)">delete</span>
            </td>
        </tr>
        }
    </tbody>
</table>
<div class="user-read-pagination">
    <app-pagination [pageCount]="pageCount()" (pageClicked)="handlePageClick($event)"></app-pagination>
</div>

<button class="user-read-download-button btn btn-success" (click)="handleDownloadFile()">Download Excel file</button>

<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" #updateOrDeleteModal>
    <div class="modal-dialog" role="document">
        <app-question-modal-content [actionName]="actionName" (confirmClick)="handleUpdateOrDeleteConfirmClick()"
            (cancelClick)="handleUpdateOrDeleteCancelClick()"></app-question-modal-content>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" #updateModal>
    <div class="modal-dialog" role="document">
        <app-user-update-modal-content #updateModalContent [user]="selectedUser"
            (confirmClick)="handleUpdateConfirmClick($event)"
            (cancelClick)="handleUpdateCancelClick()"></app-user-update-modal-content>
    </div>
</div>